################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotnetApiSample/.vs
/.commandcode/
/DotnetApiSample/DotnetApiSample.Api/bin/Debug/net10.0
